/* Default font sizes */
.text-container h1{
    font-size:24px;
}
.text-container p{
    font-size: 16px;
}
/* Increase font size for screens smaller than 800px */
@media(min-width:800px){
    .text-container h1{
        font-size: 32px;
    }
    .text-container p{
        font-size: 20px;
    }

}

/* Decrease font size  for screens smaller than 500px */
@media(max-width:500px){
    .text-container h1{
        font-size: 18px;
    }
    .text-container p{
        font-size: 14px;
    }
}

/* Bonus: change font style in portrait orientation */
@media(orientation:portrait){
    .text-container p{
        font-style:italic;
    }
}